img{
    border-radius: 5px !important;
}

.col-md-3{
    margin: 30px !important;
    font-weight: bold !important;
}

#navbarSupportedContent{

    margin: 10px;
    font-size: 20px;
    padding: 5px;
}

#footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-weight: bolder
    ;
}